################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StockApp/FileContentIndex/70b992f2-3359-4320-a8cd-0707dc45cd87.vsidx
/.vs/StockApp/FileContentIndex/a02cca62-538b-420f-98f5-3208bfb9f39a.vsidx
